*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    background: salmon;
}
div.gameBoard{
    width: 600px;
    height: 600px;
    background: #ffcccc;
    border-radius: 4px;
    position: relative;
}
.food{
    position: absolute;
    background-color: #ff0e44;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
.body{
    position: absolute;
    background-color: #03917a;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}